body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

.announcement-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.copy-link-text {
    color: #BB86FC;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.copy-link-text:hover {
    color: #9B70E0; /* 深一點的紫色 */
}

/* 普通時候特定樣式 */
@media (min-width: 800px) {
    .announcement-container {
        width: 800px;
    }
}

/* 手機時候特定樣式 */
@media (max-width: 799px) {
    .announcement-container {
        width: 100%;
    }
}

.announcement-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #BB86FC;
    padding-bottom: 10px;
}

.announcement-body {
    font-size: 1rem;
    line-height: 1.6;
    color: #E0E0E0;
}

.announcement-footer {
    margin-top: 20px;
    text-align: right;
    font-size: 0.9rem;
    color: #A0A0A0;
}

a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
