/* 設定 body 的margin、字體、背景色、文字色 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}

/* 設定容器的寬度、margin、背景色、padding、陰影、圓角 */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #333; /* 深色模式容器背景色 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 調整陰影透明度 */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 預設為垂直排列 */
    align-items: center; /* 確保在小螢幕下文字居中 */
    justify-content: flex-start; /* 預設為上對齊 */
    text-align: center; /* 預設為文字居中 */
}

/* 設定圖片區塊的padding */
.image-section {
    flex: 0 0 auto; /* 固定圖片區塊大小，防止拉伸 */
    margin-bottom: 20px; /* 在垂直排列時，圖片和文字之間有間距 */
    width: 100%;
    display: flex;
    justify-content: center; /* 確保圖片居中 */
}

/* 設定圖片的寬度和圓角 */
.image-section img {
    max-width: 100%; /* 圖片最大寬度不超過容器 */
    height: auto; /* 保持圖片比例 */
    max-height: 500px; /* 設定圖片最大高度 */
    border-radius: 8px;
    object-fit: cover; /* 保持圖片比例並填滿框架 */
}

/* 設定文字區塊的padding */
.text-section {
    flex: 1;
    padding: 10px;
}

/* 設定文字區塊的h2顏色和margin-bottom */
.text-section h2 {
    color: #BB86FC;
    margin-bottom: 20px;
}

/* 設定文字區塊的p字體大小和line-height */
.text-section p {
    font-size: 18px;
    line-height: 1.5;
}

/* 在螢幕寬度大於720px時，將容器設置為水平排列 */
@media screen and (min-width: 720px) {
    .container {
        flex-direction: row; /* 改為水平排列 */
        text-align: left; /* 文字對齊方式改為左對齊 */
        align-items: flex-start; /* 確保圖片和文字區塊頂端對齊 */
    }
    
    /* 調整圖片區塊 */
    .image-section {
        margin-right: 20px; /* 圖片和文字之間的間距 */
        flex: 0 0 30%; /* 固定圖片區塊的寬度 */
    }
    
    /* 調整文字區塊 */
    .text-section {
        flex: 1; /* 文字區塊佔據剩餘空間 */
    }
}

.image-section img {
    cursor: pointer; /* 鼠標變成手型，提示可點擊 */
    
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 增加點擊前的過渡效果 */
}

.image-section img:hover {
    transform: scale(1.05); /* 滑鼠懸停時圖片微微放大 */
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* 懸停時增加陰影 */
    border-radius: 8px;
}
.modal {
    display: none; /* 默認隱藏模態框 */
    position: fixed;
    z-index: 1000; /* 確保模態框位於最上層 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 支持滾動 */
    background-color: rgba(0, 0, 0, 0.8); /* 半透明黑色背景 */
}

.modal-content {
    margin: 50px auto; /* 居中顯示 */
    display: block; /* 確保圖片顯示 */
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* 給模態框內的圖片增加陰影 */
    animation: zoomIn 0.3s; /* 模態框圖片進入動畫 */
    border-radius: 8px; /* 圓角效果 */
}

.modal-content:hover {
    cursor: zoom-out; /* 鼠標提示可以縮小 */
}
@keyframes zoomIn {
    from {
        transform: scale(0.7);/* 初始狀態：縮小到70% */
        opacity: 0;
    }
    to {
        transform: scale(1);/* 最終狀態：正常大小 */
        opacity: 1;
    }
}
