body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    color: #f5ba41;
}
.price-table, .converter {
    margin-top: 20px;
}
.price-table table {
    width: 100%;
    border-collapse: collapse;
}
.price-table th, .price-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
.price-table th {
    background-color: #333;
}
.converter label {
    display: block;
    margin: 10px 0 5px;
}
.converter select, .converter input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #262626;
    color: #ffffff;
}
.converter button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f5ba41;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
}
.converter button:hover {
    background-color: #ffa31a;
}
.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
}
.download-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2546b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 4px;
    font-size: smaller;
}
.search-bar {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #262626;
    color: #ffffff;
}